p {
    text-align: center;
    margin-bottom: 10px;
}

:root {
    --join-text: #686868b6;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

.btn-1 {
    margin: 5px;
}

h2,
h3 {
    color: var(--join-text);
    text-align: center;
}

.join-container {
    padding: 0 12%;
    margin: 3rem 0;
}

.join-info {
    max-width: 300px;
}

.join-image {
    width: 300px;
}

.join-form {
    min-width: 50%;
}

.join-head {
    display: flex;
    justify-content: space-between;
}

form {
    border-radius: 7px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 2px #ada6a671;
}

label {
    line-height: 25px;
    color: var(--primary);
    font-weight: bold;
}

.form-part {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
}

input {
    padding: 7px;
    width: 100%;
    border: 2px solid var(--join-text);
    border-radius: 3px;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

span input {
    width: 20px;
}

.radios {
    margin-top: 10px;
    font-weight: bold;
    color: var(--primary);
}

small {
    color: var(--error-color);
    visibility: hidden;
}

.form-part.error input {
    border-color: var(--error-color);
}

.form-part.success input {
    border-color: var(--success-color);
}

.form-part.error small {
    visibility: visible;
}

@media screen and (max-width: 900px) {
    .join-info {
        margin: 0 auto 2rem auto;
    }
    .image-box {
        display: none;
    }
    .join-head {
        flex-direction: column;
    }
}